.landing-page {
  background: radial-gradient(#6e108a, #0b0344);
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.connect-wallet {
  background-color: white;
  border-radius: 100px;
  color: #0f2589;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
  margin-right: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.connect-wallet:hover {
  transform: scale(1.05) rotate(-1deg);
}

.navbar-address {
  font-weight: bold;
  margin-right: 30px;
  color: white;
}

.landing-page-container {
  justify-content: center;
  margin-top: 100px;
}

.headline {
  font-size: 48px;
  text-align: center;
  color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.headline-description {
  font-size: 25px;
  text-align: center;
  margin: 0 auto; 
  color: white;
  max-width: 900px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.explore-button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.explore-button {
  background-color: white;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.explore-button:hover {
  background-color: #e1c3ff;
}

.explore-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.logo-carousel {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-top: 200px;
}

.logo-carousel:before,
.logo-carousel:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logo-carousel:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(28, 0, 71));
}

.logo-carousel:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(28, 0, 71));
}

.logo-carousel:hover .logo-carousel-slide {
  animation-play-state: paused;
}

.logo-carousel-slide {
  display: inline-block;
  animation: 40s slide infinite linear;
}

.logo-carousel-slide img {
  height: 50px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}













.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  background-color: white;
  padding: 16px;
  box-sizing: border-box;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.bidButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.messageInput {
  height: 100px;
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border-width: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}