@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  /* background-color: red; */
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  /* background-color: lightcoral; */
}

.header {
  text-align: center;
  font-size: 32px;
  /* font-weight: 600; */
  font-family: 'Manrope', sans-serif;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.bidButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  margin-top: 15px;
}

.messageInput {
  height: 100px;
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border-width: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* vertical-align: top; */
}

.entire-page {
  overflow: hidden;
  /* background: linear-gradient(-45deg, #3255ef, #13cbd2, #3255ef, #13cbd2); */
	/* background-size: 400% 400%; */
	/* animation: gradient 15s ease infinite; */
	/* height: 100vh; */
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.navbar {
  /* margin-right: 50px; 
  margin-top: 20px;
  margin-left: 50px; */
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.truncated-address {
  font-weight: bold;
  margin-right: 30px;
  color: black;
}

/* CSS */
.connect-wallet {
  background-color: #0f2589;
  border-radius: 100px;
  /* box-shadow: rgba(46, 185, 235, 0.2) 0 -25px 18px -14px inset,rgba(46, 185, 235, 0.2) 0 1px 2px,rgba(46, 185, 235, 0.2) 0 2px 4px,rgba(46, 185, 235, 0.2) 0 4px 8px,rgba(46, 185, 235, 0.2) 0 8px 16px,rgba(46, 185, 235, 0.2) 0 16px 32px; */
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
  margin-right: 30px;
}

.button-33:hover {
  /* box-shadow: rgba(46, 185, 235, 0.2) 0 -25px 18px -14px inset,rgba(46, 185, 235, 0.2) 0 1px 2px,rgba(46, 185, 235, 0.2) 0 2px 4px,rgba(46, 185, 235, 0.2) 0 4px 8px,rgba(46, 185, 235, 0.2) 0 8px 16px,rgba(46, 185, 235, 0.2) 0 16px 32px; */
  transform: scale(1.05) rotate(-1deg);
}

.tagline {
  font-size: 48px;
  text-align: center;
  color: black;
  /* background-color: #000000; */
  padding: 30px;
  border-radius: 10px;
  font-family: 'Manrope', sans-serif;
  max-width: 950px;
  margin-top: -300px;
}

.tagline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

